<% if logged_in? %>
  <div class='row'>
    <aside class='col-md-4'>
      <section class='user_id'>
        <%= render 'shared/user_info' %>
      </section>
      <section class='stats'>
        <%= render 'shared/stats' %>
      </section>
      <section class='micropost_form'>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class='jumbotron'>
    <h1> Welcome to the Micropost</h1>
    <div class='center'>
      <div class='row'>
        <div class="col-sm-6">
          <div class='col-md-8 col-md-offset-2'>
            <%= render 'sessions/login' %>
          </div>
        </div>
        <div class='col-sm-6'>
          <%= render 'users/newuser' %>
        </div>

        <div class="recent-mem cold-md-12">
          <h2 class="recent-user__title">Recent user</h2>
          <% @recent_users.each do |post|%>
            <div class='user_avatars'>
              <%= gravatar_for(post.user, size: 60) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
